@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Education Scrapers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top:1em;">
            <div class="col-12">
                <div class="jumbotron">
                    Please select the scraper you'd like to run.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ul>
                    @{
                        for (var i = 0; i < ViewBag.robotRoutes.Length; i++)
                        {
                            string s = (string)ViewBag.robotRoutes[i];
                            <li>@Html.ActionLink(s, s, "Robots", null, new { target = "_blank" })</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
